apiVersion: apps/v1
kind: Deployment
metadata:
  name: scribble
  namespace: games
spec:
  replicas: 1
  selector:
    matchLabels:
      app: scribble
  template:
    metadata:
      labels:
        app: scribble
    spec:
      containers:
        - name: scribble
          image: biosmarcel/scribble.rs:v0.9.5
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 20

