apiVersion: v1
kind: Service
metadata:
  name: games
  namespace: scribble
spec:
  selector:
    app: scribble
  type: NodePort
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30081

