---
# playbooks/preinit.yml
# Purpose: Run initial server bootstrap steps using bootstrap roles

- name: Pre-initialization workflow
  hosts: all
  become: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3

  roles:
    - role: roles/bootstrap/wait_for_cloud_init
    - role: roles/bootstrap/update_and_upgrade

