apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ xyzzy_app_name }}
  namespace: {{ xyzzy_namespace }}
  labels:
    app: {{ xyzzy_app_name }}
spec:
  replicas: {{ xyzzy_replicas }}
  selector:
    matchLabels:
      app: {{ xyzzy_app_name }}
  template:
    metadata:
      labels:
        app: {{ xyzzy_app_name }}
    spec:
      containers:
      - name: {{ xyzzy_app_name }}
        image: {{ xyzzy_image }}
        imagePullPolicy: Always
        ports:
        - containerPort: {{ xyzzy_container_port }}
          protocol: TCP
