---
- name: Install KNative
  hosts: all
  become: true
  gather_facts: true

  roles:
    - role: roles/knative/core/knative_serving_crds
    - role: roles/knative/core/knative_serving_core
    - role: roles/knative/ingress/knative_net_kourier
    - role: roles/knative/ingress/knative_serving_ingressclass_kourier
