apiVersion: v1
kind: Service
metadata:
  name: {{ monopoly_name }}
  namespace: {{ games_namespace }}
spec:
  selector:
    app: {{ monopoly_name }}
  type: NodePort
  ports:
    - name: http
      port: {{ monopoly_container_port }}
      targetPort: {{ monopoly_container_port }}
      nodePort: {{ monopoly_nodeport }}
