############################# Server Basics #############################

process.roles=broker,controller
node.id={{ kafka_node_id }}

############################# Socket Server Settings #############################

# Bind on all interfaces so other nodes/clients can reach it
listeners=PLAINTEXT://0.0.0.0:{{ kafka_client_port }},CONTROLLER://0.0.0.0:{{ kafka_controller_port }}

# What the broker tells clients to use when connecting
advertised.listeners=PLAINTEXT://{{ kafka_advertised_host }}:{{ kafka_client_port }}

listener.security.protocol.map=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
inter.broker.listener.name=PLAINTEXT
controller.listener.names=CONTROLLER

socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600

############################# Log Basics #############################

log.dirs={{ kafka_data_dir }}
num.partitions={{ kafka_num_partitions }}

# Replication defaults (for a 3 broker playground)
default.replication.factor={{ kafka_default_replication_factor }}
min.insync.replicas={{ kafka_min_insync_replicas }}

############################# Internal Topic Settings #############################
offsets.topic.replication.factor={{ kafka_default_replication_factor }}
transaction.state.log.replication.factor={{ kafka_default_replication_factor }}
transaction.state.log.min.isr={{ kafka_min_insync_replicas }}

############################# KRaft #############################
controller.quorum.voters={{ kafka_controller_quorum_voters }}

# Single-node friendly (remove if you want strict hostname verification later)
controller.quorum.request.timeout.ms=20000

############################# Misc #############################
group.initial.rebalance.delay.ms=0
