---
- name: "Wait for cert-manager Deployment {{ knative_cert_manager_namespace }}/{{ _cm_deploy_name }} to be Available"
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    namespace: "{{ knative_cert_manager_namespace }}"
    name: "{{ _cm_deploy_name }}"
  register: _cm_dep_post
  until: >-
    (_cm_dep_post.resources | length) > 0 and
    (
      (
        _cm_dep_post.resources[0].status.conditions | default([])
        | selectattr('type','equalto','Available')
        | selectattr('status','equalto','True')
        | list
        | length
      ) > 0
    )
  retries: 60
  delay: 5
  changed_when: false

