---
- name: Deploy internal DNS (CoreDNS) for home.arpa
  hosts: all
  gather_facts: true
  vars:
    ansible_python_interpreter: /usr/bin/python3

  roles:
    - role: roles/networking/dns/coredns_homearpa

