apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-homearpa
  namespace: {{ internal_dns_namespace }}
data:
  Corefile: |
    {{ internal_dns_zone }}:53 {
        hosts {
            {{ internal_dns_ip }} {{ internal_dns_hostname }}
            fallthrough
        }
        log
        errors
    }

    .:53 {
        forward . {% for u in internal_dns_upstreams %}{{ u }} {% endfor %}
        log
        errors
    }

