apiVersion: apps/v1
kind: Deployment
metadata:
  name: coredns-homearpa
  namespace: {{ internal_dns_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: coredns-homearpa
  template:
    metadata:
      labels:
        app: coredns-homearpa
    spec:
      hostNetwork: true
      dnsPolicy: Default
      nodeSelector:
        {{ internal_dns_node_label_key }}: "{{ internal_dns_node_label_value }}"
      containers:
        - name: coredns
          image: {{ coredns_image }}
          args: ["-conf", "/etc/coredns/Corefile"]
          ports:
            - name: dns-udp
              containerPort: 53
              protocol: UDP
            - name: dns-tcp
              containerPort: 53
              protocol: TCP
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              add:
                - NET_BIND_SERVICE
          volumeMounts:
            - name: config
              mountPath: /etc/coredns
              readOnly: true
          readinessProbe:
            tcpSocket:
              port: 53
            initialDelaySeconds: 2
            periodSeconds: 5
      volumes:
        - name: config
          configMap:
            name: coredns-homearpa

