{
  "host": "{{ inventory_hostname }}",
  "timestamp_utc": "{{ lookup('pipe','date -u +%Y-%m-%dT%H:%M:%SZ') }}",
  "ansible": {
    "distribution": "{{ ansible_distribution | default('') }}",
    "distribution_version": "{{ ansible_distribution_version | default('') }}",
    "arch": "{{ ansible_architecture | default('') }}"
  },
  "falco_discovery": {{ falco_discovery | to_nice_json }}
}

